[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github-personal:robbyrussell/oh-my-zsh.git
[submodule ".oh-my-zsh-custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh-custom/plugins/zsh-autosuggestions
	url = git@github-personal:zsh-users/zsh-autosuggestions.git
