[core]
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[alias]
    # <author> <subject in white> <hash>
    # Must escape " as shell parses them out
    oneline = log --pretty=format:\"%an %C(white)%s%Creset %H\"
    maindiff = diff main..HEAD
[push]
    default = simple
    gpgsign = if-asked
    autoSetupRemote = true
[pull]
    ff = only
[diff]
    tool = opendiff
[difftool]
    prompt = false
[gpg]
    program = /opt/homebrew/bin/gpg
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[include]
    path = ~/.gitconfig-custom

# vim: set shiftwidth=4 softtabstop=4 expandtab:
[init]
	defaultBranch = main
[url "git@git.soma.salesforce.com:"]
	insteadOf = https://git.soma.salesforce.com/
